*{
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans',sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  letter-spacing: 1px;
  font-size: 28px;
  /* background: #01F6FF;
background: -webkit-linear-gradient(top left, #01F6FF, #33ABA1);
background: -moz-linear-gradient(top left, #01F6FF, #33ABA1);
background: linear-gradient(to bottom right, #01F6FF, #33ABA1); */
  color:#000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
